<!DOCTYPE html>
<html>
<head>
 <title>HR Management System</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
 <div id='header'>
 <!-- Header Image Displayes here -->
<nav role="navigation">
    <div class="inner">
        <a href="#nav" class="nav-collapse" id="nav-collapse">Menu</a>
        <ul class="nav" id="nav">
            <li><%= link_to "Home", root_path %></li>
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </div>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<H1 style="color:white;">Human Resource Management System</H1>

 </div>
 <div id='menu'>
 <div id="navbar">
<ul>
<li><a href="/profiles">Employees Profile</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/websites">Request annual leave</a></li>
<li><a href="/holiday">Holidays</a></li>
</ul>
 </div>
 </div>
 <div id='container'>
 <div id='content'>
 <p class="notice"><%= flash[:notice] %></p>
 <%= yield %>
</div>

 </div>

	
 </div>
 <div id='footer'>
 <h6 class="footertext">&copy; Online Golf Store &trade; 2013</h6>
 </div>
</body>
</html>
